<!DOCTYPE html>
<html lang="en">
    <head>
            <title>Burgers...Again</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link href="/static/css/burger_style.css" rel="stylesheet" />
	</head>
	<body>
		{{{ body }}}
	</body>
</HTML>